$colorBlack: #000000;
$colorGreyDarkDeep: #58595B;
$colorWhite: #FFFFFF;
$colorWhiteBackground: #F2F2F2;
$colorRed: #E04E39;
$colorGold: #C39367;

$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;