@import '_variables.scss';
@import '_mixin.scss';

html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100%;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-primary {
  display: inline-grid;
  grid-auto-flow: column;
  padding: 16px 44px 16px 30px;
  gap: 10px;
  align-items: center;
  border-radius: 5px;
  background-color: $colorRed;
  font-size: 14px;
  font-weight: $fontWeightMedium;
  transition: background-color .3s linear, color .3s linear;
  color: $colorWhite;

  &:hover {
    background-color: $colorBlack;
    color: $colorWhite;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    background-color: $colorBlack;
    color: $colorWhite;
  }

  & svg {
    transition: stroke .3s linear;
  }

  &:hover svg {
    stroke: $colorWhite;
  }

  &:focus-visible svg {
    stroke: $colorWhite;
  }
}

.btn-login {
  display: inline-block;
  padding: 17px 32px;
  font-size: 14px;
  font-weight: $fontWeightMedium;
  color: $colorGreyDarkDeep;
  border-radius: 5px;
  border: 1px solid $colorGreyDarkDeep;
  transition: background-color .3s linear, color .3s linear, border .3s linear;

  &:hover {
    background-color: $colorBlack;
    color: $colorWhite;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    background-color: $colorBlack;
    color: $colorWhite;
  }
}

.title {
  display: none
}

.subtitle {
  font-size: 48px;
  font-weight: $fontWeightBold;
  color: $colorBlack;
}

.disable-scroll {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  left: 0;
  top: 0;
  width: 100%;
}

@media (max-width: 576px) {
  .subtitle {
    font-size: 28px;
    margin-right: 10px;
  }

  .btn-primary {
    padding: 12px 20px 12px 20px;
  }
}