@import '_variables.scss';
@import '_mixin.scss';

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  min-height: 90px;
  max-height: 100%;
}

.menu {
  width: 100%;
  max-width: 378px;

  &__list {
    @include clearListStyles();
    display: flex;
    justify-content: space-between;
  }

  &__link {
    font-weight: $fontWeightRegular;
    font-size: 16px;
    transition: color .3s linear;
  }

  &__link:hover {
    color: $colorRed;
  }

  &__link:focus {
    outline: none;
  }

  &__link:focus-visible {
    color: $colorRed;
  }
}

.header__logo {
  margin-right: 10px;
}

.header__btn-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 21px;
  margin-left: 10px;
}

.header__btn-group-phone--mobile {
  display: none;
}

.header__btn-hashtag {
  text-align: right;
  font-size: 20px;
}

.header__burger {
  display: none;
}

@media (max-width: 768px) {

  .header {
    &__btn-group {
      display: none;
    }

    &__menu {
      display: none;
    }

    &__burger {
      grid-column: 4/5;
      justify-self: end;
      position: relative;
      display: block;
      width: 20px;
      height: 18px;
      z-index: 3;
    }

    &__burger span {
      position: absolute;
      left: 0;
      top: 8px;
      background-color: $colorBlack;
      width: 100%;
      height: 2px;
      transition: background-color .3s linear, transform .3s linear;
    }

    &__burger::after,
    &__burger::before {
      content: "";
      position: absolute;
      left: 0;
      background-color: $colorBlack;
      height: 2px;
      transition: background-color .3s linear, transform .3s linear;
    }

    &__burger::before {
      top: 0;
      width: 100%;
    }

    &__burger::after {
      bottom: 0;
      width: 100%;
    }

    &__burger._active:before {
      transform: rotate(45deg);
      top: 8px;
    }

    &__burger._active::after {
      transform: rotate(-45deg);
      bottom: 8px;
    }

    &__burger._active span {
      transform: scale(0);
    }
  }

  [data-open-menu]._active span,
  [data-open-menu]._active::before,
  [data-open-menu]._active::after {
    background-color: $colorWhite;
  }

  .menu {
    display: grid;
    grid-template-columns: 1fr;
    opacity: 0;
    visibility: hidden;
    grid-column: 1 / 5;
    align-items: start;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    max-width: 100%;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    overflow-y: auto;
    background-color: $colorGreyDarkDeep;
    padding: 100px 20px 125px 20px;
    transition: opacity .3s linear, visibility .3s linear;

    &__list {
      display: grid;
      grid-auto-flow: row;
      gap: 40px;
      justify-items: center;
      justify-content: center;
      margin-bottom: 10px;
    }

    &__link {
      color: $colorWhite;
    }
  }

  .menu._active {
    opacity: 1;
    visibility: visible;
  }

  .header__btn-group-phone--mobile {
    display: grid;
    justify-content: center;
    gap: 10px;
  }

  .btn-login--phone {
    color: $colorWhite;
    border: 1px solid $colorWhite;
  }
}